.logo {
    width: 40%;
    margin-top: -2em;
    margin-bottom: -2em;
}

.bg-color {
    background: #e6e6e6;
}

.nav-structure  {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    font-size: 1.2em;


}
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}
.abel   {
    font-family: 'Abel', sans-serif;
}

.anton  {
    font-family: 'Anton', sans-serif;
}

h3 {
    font-size: 2.4em;
}
.red-circle {
    background: #e6563b;
}
.orange-circle {
    background: #eb9d3a;
}
.green-circle {
    background: #7cb06c;
}
.blue-circle {
    background: #00aba9;
}

.circle {
    /*text-align: center;*/
    height: 9em;
    width: 9em;
    border-radius: 50%;
    border: .5em solid #fff;

}

span {
    margin-top: -100px;
}

.broken {
    border-radius: 150px;
    background: crimson;
}

.ipad {
    width: 80%;
    background: #f0f0f0;
}

.words  {
    padding-top: 51px;
}