.logo {
    width: 40%;
    margin-top: -2em;
    margin-bottom: -2em;
}

.bg-color {
    background: #e6e6e6;
}

.nav-structure  {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    font-size: 1.2em;


}
h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}
.abel   {
    font-family: 'Abel', sans-serif;
}

.anton  {
    font-family: 'Anton', sans-serif;
}
.anton-flex {
    font-family: 'Anton', sans-serif;
    font-size:  1vw;
    /*margin: 0 auto;*/
    /*for medium and large*/
    margin: -13.5px;
    /*line-height: 1em;*/

}

h3 {
    font-size: 2.4em;
}
.small-codeup-design {
    padding-top: 2em;
}
.red-circle {
    background: #e6563b;
}
.orange-circle {
    background: #eb9d3a;
}
.green-circle {
    background: #7cb06c;
}
.blue-circle {
    background: #00aba9;
}

.circle {
    /*text-align: center;*/
    height: 9em;
    width: 9em;
    border-radius: 50%;
    border: .5em solid #fff;

}

span {
    margin-top: -100px;
}

.broken {
    border-radius: 150px;
    background: crimson;
}

.ipad {
    /*width: 80%;*/
    background: #f0f0f0;
}

.words  {
    padding-top: 51px;
}
.sm-cirlce {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    /*border: .5em solid #fff;*/
}

.sm-cirlce p {
    /*font-size: 1.5em;*/
    /*padding-top: 2px;*/
    line-height: 1.5em;
    font-size: 2.7vw;
}
.feature {
    padding-right: 3em;
    font-size: 3.5vw;
}
.xsm-row {
    margin-top: 15px;
    padding-bottom: 100px;
}
.small-nav > img  {
    margin-top: -2em;
    margin-bottom: -2em;
    max-width: 20%;
}
.tiny-img {
    width: 160%;
    height:auto;
    padding-right: 10px;
}



.circ-div {
    width: 15%;
    /*height:300px;*/
    /*background: blue;*/
}

.circ {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    /*background: white;*/
}
.mini-feature {
            font-size: 1.5vw;
        }
.md-image {
    width: 7em;
    margin-top: -6.5em;
    margin-bottom: -4.5em;
}

#unaligntext {
    text-align: initial;
}

.nav {
    /*height: 20%;*/
}
.white-nav-space {
    height: 65px;

}
.med-feature {
    font-size: 1.3vw;
}